---
layout: default
title: 我的技術筆記首頁
---

<!DOCTYPE html>
<html lang="zh-Hant">
<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-322YDYC5FZ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-322YDYC5FZ');
  </script>
  <title>Pohsun Tseng (Rocky)</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>
</head>
<body>

    <h1>歡迎來到我的筆記本</h1>
    <p>這裡記錄了我的學習歷程與技術心得。</p>

    <hr>

    <h2>文章列表</h2>
    <ul>
      {% for page in site.pages %}
        {% if page.path contains 'content/posts/' %}
          <li style="margin-bottom: 10px;">
            <a href="{{ page.url | relative_url }}" style="font-weight: bold; font-size: 1.1em;">
              {{ page.title | default: page.name }}
            </a>
            <br>
            <small>檔案路徑: {{ page.path }}</small>
          </li>
        {% endif %}
      {% endfor %}
    </ul>

</body>
</html>
